.Nav {
    background: grey;
    padding: 20px;
    border: solid 5px black;
    margin-top: 5px;

    .hamburger {
        background-color: white ;
        display: block;

        width: 30px;
        height: 30px;

        position: absolute;
        right: 10px;
        top: 10px;
        color: black;

        svg {
            width: 100%;
            height: auto;
        }

        &:hover {
            color: grey;
            cursor: pointer;
        }

    }

    .links {
        background-color: grey;

        text-align: center;

        a {
            background-color: aqua;
            color: white;

            display: block;
            padding: 20px;
            border-radius: 5px;
            margin: 10px;
            border: solid 2px black;

            text-decoration: none;
            text-transform:uppercase;

            transition: all .2s;

            &:hover {
                background-color: grey;
            }
        }

    }

}

@media screen and (min-width: 600px) {
    .Nav {
        .hamburger{
            display: none;
        }
        .links {
            a {
                display: inline-block;
            }
        }
    }
}